In [48]:
import numpy as np
import pandas as pd
import json

In [49]:
url = "C:/Users/mesut/OneDrive/Masaüstü/python/IBB/"
df = pd.read_csv(url+"veriler5.csv")
df.head()

,Sensor Adi,X Koordinati,Y Koordinati,Arac Sayisi,Tarih
0,15 Temmuz Şehitler Köprüsü Yıldız Katılımı,"29,01843233","41,05770224",49912.0,2016-01-01
1,15 Temmuz Şehitler Köprüsü Yıldız Katılımı,"29,01843233","41,05770224",58038.0,2016-02-01
2,15 Temmuz Şehitler Köprüsü Yıldız Katılımı,"29,01843233","41,05770224",63710.0,2016-03-01
3,15 Temmuz Şehitler Köprüsü Yıldız Katılımı,"29,01843233","41,05770224",74919.0,2016-04-01
4,15 Temmuz Şehitler Köprüsü Yıldız Katılımı,"29,01843233","41,05770224",78458.0,2016-05-01

In [50]:
with open(url + "weather_2.json", "r", encoding="utf-8") as file:
    hava_durumu = json.load(file)

hava = pd.DataFrame(hava_durumu)
#hava['tarih'] = pd.to_datetime(hava['tarih'])
hava.rename(columns={"tarih" :"Tarih"}, inplace=True)
hava.drop(["sicaklik_gece"], inplace=True, axis=1)

result = pd.merge(df, hava, on="Tarih")
result.head()

,Sensor Adi,X Koordinati,Y Koordinati,Arac Sayisi,Tarih,gun,sicaklik_gunduz,bulut,nem
0,15 Temmuz Şehitler Köprüsü Yıldız Katılımı,"29,01843233","41,05770224",49912.0,2016-01-01,Cuma,6°C,Çoğunlukla Bulutlu,15%
1,Akom Önü,"28,961073","41,090599",34282.0,2016-01-01,Cuma,6°C,Çoğunlukla Bulutlu,15%
2,Alibeyköy TEM Katılımı,"28,95829669","41,07221143",3241.0,2016-01-01,Cuma,6°C,Çoğunlukla Bulutlu,15%
3,Altunizade,"29,04612265","41,02742808",89425.0,2016-01-01,Cuma,6°C,Çoğunlukla Bulutlu,15%
4,Altunizade Ümraniye Katılımı,"29,04965362","41,02332425",19965.0,2016-01-01,Cuma,6°C,Çoğunlukla Bulutlu,15%

In [51]:
with open(url + "resmi_tatiller.json", "r", encoding="utf-8") as file:
    resmi = json.load(file)

ozel_gunler = []
for i in resmi:
    for key, value in i.items():
        fa = (value[0]).split('\n')
    ozel_gunler.extend(fa) 
    
result['resmi_tatiller'] = 0
result.loc[result['Tarih'].isin(ozel_gunler), 'resmi_tatiller'] = 1
result.head()

,Sensor Adi,X Koordinati,Y Koordinati,Arac Sayisi,Tarih,gun,sicaklik_gunduz,bulut,nem,resmi_tatiller
0,15 Temmuz Şehitler Köprüsü Yıldız Katılımı,"29,01843233","41,05770224",49912.0,2016-01-01,Cuma,6°C,Çoğunlukla Bulutlu,15%,0
1,Akom Önü,"28,961073","41,090599",34282.0,2016-01-01,Cuma,6°C,Çoğunlukla Bulutlu,15%,0
2,Alibeyköy TEM Katılımı,"28,95829669","41,07221143",3241.0,2016-01-01,Cuma,6°C,Çoğunlukla Bulutlu,15%,0
3,Altunizade,"29,04612265","41,02742808",89425.0,2016-01-01,Cuma,6°C,Çoğunlukla Bulutlu,15%,0
4,Altunizade Ümraniye Katılımı,"29,04965362","41,02332425",19965.0,2016-01-01,Cuma,6°C,Çoğunlukla Bulutlu,15%,0

In [52]:
with open(url + "hastane.json", "r", encoding="utf-8") as file:
    hastane = json.load(file)
hastane = pd.DataFrame(hastane)
hastane['Sensor Adi'] = hastane['Sensor Adi'].astype(str)
hastane['Sensor Adi'] = hastane['Sensor Adi'].str.replace('[', '').str.replace(']', '')
hastane['Sensor Adi'] = hastane['Sensor Adi'].str.replace("'", "")
hastane.drop(["X Koordinati", "Y Koordinati"], inplace=True, axis=1)

result = pd.merge(result, hastane, on="Sensor Adi")
result.head()

C:\Users\mesut\AppData\Local\Temp\ipykernel_16956\2997725481.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  hastane['Sensor Adi'] = hastane['Sensor Adi'].str.replace('[', '').str.replace(']', '')

,Sensor Adi,X Koordinati,Y Koordinati,Arac Sayisi,Tarih,gun,sicaklik_gunduz,bulut,nem,resmi_tatiller,Hastane Sayisi
0,15 Temmuz Şehitler Köprüsü Yıldız Katılımı,"29,01843233","41,05770224",49912.0,2016-01-01,Cuma,6°C,Çoğunlukla Bulutlu,15%,0,1
1,15 Temmuz Şehitler Köprüsü Yıldız Katılımı,"29,01843233","41,05770224",58038.0,2016-02-01,Pazartesi,14°C,Parçalı Bulutlu,35%,0,1
2,15 Temmuz Şehitler Köprüsü Yıldız Katılımı,"29,01843233","41,05770224",63710.0,2016-03-01,Salı,13°C,Parçalı Bulutlu,32.5%,0,1
3,15 Temmuz Şehitler Köprüsü Yıldız Katılımı,"29,01843233","41,05770224",74919.0,2016-04-01,Cuma,13°C,Çoğunlukla Bulutlu,32.5%,0,1
4,15 Temmuz Şehitler Köprüsü Yıldız Katılımı,"29,01843233","41,05770224",78458.0,2016-05-01,Pazar,22°C,Parçalı Bulutlu,55%,0,1

In [53]:
with open(url + "AVM.json", "r", encoding="utf-8") as file:
    avm = json.load(file)
avm = pd.DataFrame(avm)
avm['Sensor Adi'] = avm['Sensor Adi'].astype(str)
avm['Sensor Adi'] = avm['Sensor Adi'].str.replace('[', '').str.replace(']', '')
avm['Sensor Adi'] = avm['Sensor Adi'].str.replace("'", "")
avm.drop(["X Koordinati", "Y Koordinati"], inplace=True, axis=1)
avm = avm.rename(columns={'Hastane Sayisi': 'AVM Sayisi'})
result = pd.merge(result, avm, on="Sensor Adi")
result.head()

C:\Users\mesut\AppData\Local\Temp\ipykernel_16956\1040074049.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  avm['Sensor Adi'] = avm['Sensor Adi'].str.replace('[', '').str.replace(']', '')

,Sensor Adi,X Koordinati,Y Koordinati,Arac Sayisi,Tarih,gun,sicaklik_gunduz,bulut,nem,resmi_tatiller,Hastane Sayisi,AVM Sayisi
0,15 Temmuz Şehitler Köprüsü Yıldız Katılımı,"29,01843233","41,05770224",49912.0,2016-01-01,Cuma,6°C,Çoğunlukla Bulutlu,15%,0,1,1
1,15 Temmuz Şehitler Köprüsü Yıldız Katılımı,"29,01843233","41,05770224",58038.0,2016-02-01,Pazartesi,14°C,Parçalı Bulutlu,35%,0,1,1
2,15 Temmuz Şehitler Köprüsü Yıldız Katılımı,"29,01843233","41,05770224",63710.0,2016-03-01,Salı,13°C,Parçalı Bulutlu,32.5%,0,1,1
3,15 Temmuz Şehitler Köprüsü Yıldız Katılımı,"29,01843233","41,05770224",74919.0,2016-04-01,Cuma,13°C,Çoğunlukla Bulutlu,32.5%,0,1,1
4,15 Temmuz Şehitler Köprüsü Yıldız Katılımı,"29,01843233","41,05770224",78458.0,2016-05-01,Pazar,22°C,Parçalı Bulutlu,55%,0,1,1

In [54]:
keys = []
items = []
with open(url + "distance.json", "r", encoding="utf-8") as file:
    distance = json.load(file)
for key in distance:
    for j, k in key.items():
        keys.append(j)
        items.append(k)
items = pd.DataFrame(items)
items['Sensor Adi'] = keys
items['hız'] = items['hız'] * 60
result = pd.merge(result, items, on="Sensor Adi")
result.head()

,Sensor Adi,X Koordinati,Y Koordinati,Arac Sayisi,Tarih,gun,sicaklik_gunduz,bulut,nem,resmi_tatiller,Hastane Sayisi,AVM Sayisi,mesafe,süre,hız
0,15 Temmuz Şehitler Köprüsü Yıldız Katılımı,"29,01843233","41,05770224",49912.0,2016-01-01,Cuma,6°C,Çoğunlukla Bulutlu,15%,0,1,1,26.345907,26.564655,59.505927
1,15 Temmuz Şehitler Köprüsü Yıldız Katılımı,"29,01843233","41,05770224",58038.0,2016-02-01,Pazartesi,14°C,Parçalı Bulutlu,35%,0,1,1,26.345907,26.564655,59.505927
2,15 Temmuz Şehitler Köprüsü Yıldız Katılımı,"29,01843233","41,05770224",63710.0,2016-03-01,Salı,13°C,Parçalı Bulutlu,32.5%,0,1,1,26.345907,26.564655,59.505927
3,15 Temmuz Şehitler Köprüsü Yıldız Katılımı,"29,01843233","41,05770224",74919.0,2016-04-01,Cuma,13°C,Çoğunlukla Bulutlu,32.5%,0,1,1,26.345907,26.564655,59.505927
4,15 Temmuz Şehitler Köprüsü Yıldız Katılımı,"29,01843233","41,05770224",78458.0,2016-05-01,Pazar,22°C,Parçalı Bulutlu,55%,0,1,1,26.345907,26.564655,59.505927

In [55]:
result['Tarih'] = pd.to_datetime(result['Tarih']).dt.date
result.drop(["X Koordinati", "Y Koordinati", "nem"], inplace=True, axis=1)
def is_weekday(day):
    if day in ['Pazartesi', 'Salı', 'Çarşamba', 'Perşembe', 'Cuma']:
        return 1
    else:
        return 0
def is_rainy(day):
    if 'Yağmur' in day:
        return 1
    elif 'Kar' in day:
        return 2
    else:
        return 0
result['gun'] = result['gun'].apply(is_weekday)
result['bulut'] = result['bulut'].apply(is_rainy)
result = pd.get_dummies(result, columns=['bulut'])
result.head()

,Sensor Adi,Arac Sayisi,Tarih,gun,sicaklik_gunduz,resmi_tatiller,Hastane Sayisi,AVM Sayisi,mesafe,süre,hız,bulut_0,bulut_1,bulut_2
0,15 Temmuz Şehitler Köprüsü Yıldız Katılımı,49912.0,2016-01-01,1,6°C,0,1,1,26.345907,26.564655,59.505927,1,0,0
1,15 Temmuz Şehitler Köprüsü Yıldız Katılımı,58038.0,2016-02-01,1,14°C,0,1,1,26.345907,26.564655,59.505927,1,0,0
2,15 Temmuz Şehitler Köprüsü Yıldız Katılımı,63710.0,2016-03-01,1,13°C,0,1,1,26.345907,26.564655,59.505927,1,0,0
3,15 Temmuz Şehitler Köprüsü Yıldız Katılımı,74919.0,2016-04-01,1,13°C,0,1,1,26.345907,26.564655,59.505927,1,0,0
4,15 Temmuz Şehitler Köprüsü Yıldız Katılımı,78458.0,2016-05-01,0,22°C,0,1,1,26.345907,26.564655,59.505927,1,0,0

In [56]:
result.rename(columns={"gun" :"Haftaici"}, inplace=True)
result.rename(columns={"bulut" :"yagmur/kar"}, inplace=True)
result['sicaklik_gunduz'] = result['sicaklik_gunduz'].str.replace('°C', '')
result['Arac Sayisi'] = result['Arac Sayisi'].astype(float)
result['sicaklik_gunduz'] = result['sicaklik_gunduz'].astype(float)
result['Hastane Sayisi'] = result['Hastane Sayisi'].astype(float)
result['AVM Sayisi'] = result['AVM Sayisi'].astype(float)
result.head()

,Sensor Adi,Arac Sayisi,Tarih,Haftaici,sicaklik_gunduz,resmi_tatiller,Hastane Sayisi,AVM Sayisi,mesafe,süre,hız,bulut_0,bulut_1,bulut_2
0,15 Temmuz Şehitler Köprüsü Yıldız Katılımı,49912.0,2016-01-01,1,6.0,0,1.0,1.0,26.345907,26.564655,59.505927,1,0,0
1,15 Temmuz Şehitler Köprüsü Yıldız Katılımı,58038.0,2016-02-01,1,14.0,0,1.0,1.0,26.345907,26.564655,59.505927,1,0,0
2,15 Temmuz Şehitler Köprüsü Yıldız Katılımı,63710.0,2016-03-01,1,13.0,0,1.0,1.0,26.345907,26.564655,59.505927,1,0,0
3,15 Temmuz Şehitler Köprüsü Yıldız Katılımı,74919.0,2016-04-01,1,13.0,0,1.0,1.0,26.345907,26.564655,59.505927,1,0,0
4,15 Temmuz Şehitler Köprüsü Yıldız Katılımı,78458.0,2016-05-01,0,22.0,0,1.0,1.0,26.345907,26.564655,59.505927,1,0,0

In [57]:
result.info()
grouped = result.groupby(['Tarih', 'Sensor Adi'])
filtered = grouped['Arac Sayisi'].idxmax()
result = result.loc[filtered]

<class 'pandas.core.frame.DataFrame'>
Int64Index: 270589 entries, 0 to 270588
Data columns (total 14 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Sensor Adi       270589 non-null  object
 1   Arac Sayisi      270589 non-null  float64
 2   Tarih            270589 non-null  object
 3   Haftaici         270589 non-null  int64
 4   sicaklik_gunduz  270589 non-null  float64
 5   resmi_tatiller   270589 non-null  int64
 6   Hastane Sayisi   270589 non-null  float64
 7   AVM Sayisi       270589 non-null  float64
 8   mesafe           270589 non-null  float64
 9   süre             270589 non-null  float64
 10  hız              270589 non-null  float64
 11  bulut_0          270589 non-null  uint8
 12  bulut_1          270589 non-null  uint8
 13  bulut_2          270589 non-null  uint8
dtypes: float64(7), int64(2), object(2), uint8(3)
memory usage: 25.5+ MB

In [60]:
# result.to_csv(url+'veriler6.csv', index=False)  # index=False, indeksi CSV dosyasına dahil etmez

In [59]:
result.head()

,Sensor Adi,Arac Sayisi,Tarih,Haftaici,sicaklik_gunduz,resmi_tatiller,Hastane Sayisi,AVM Sayisi,mesafe,süre,hız,bulut_0,bulut_1,bulut_2
0,15 Temmuz Şehitler Köprüsü Yıldız Katılımı,49912.0,2016-01-01,1,6.0,0,1.0,1.0,26.345907,26.564655,59.505927,1,0,0
1804,Akom Önü,34282.0,2016-01-01,1,6.0,0,0.0,0.0,25.096338,21.952586,68.592388,1,0,0
3608,Alibeyköy TEM Katılımı,3241.0,2016-01-01,1,6.0,0,0.0,1.0,26.149787,22.756466,68.946876,1,0,0
5412,Altunizade,89425.0,2016-01-01,1,6.0,0,6.0,4.0,26.092459,25.834052,60.600155,1,0,0
7216,Altunizade Ümraniye Katılımı,19965.0,2016-01-01,1,6.0,0,15.0,2.0,23.326726,22.969828,60.932263,1,0,0